<script>

  $(".simple_form").submit(function (event) {
    $("<input type='text' value='" + <%= @roles.blank? ? '' : @roles %> + "' />")
            .attr("id", "roles")
            .attr("name", "roles")
            .appendTo(".simple_form");
  });

</script>

<!-- &roles=#{@roles.blank? ? '' : @roles} -->
<%= simple_form_for @comments, as: 'comments', url: "/commenteux/#{@resource.downcase}/#{@resource_id}?parent_div=#{@parent_div}",
                    :remote => true, :data => {:parent => @parent_div}, wrapper: :bootstrap do |c| %>

    <div style="display:none">
      <%= c.input :title %>
    </div>
    <%= c.input :comment, :label => 'Commentaire' %>
    <% if defined? current_user %>
        <div style="display:none">
          <%= c.input :user_id, input_html: {value: current_user.id} %>
        </div>
    <% end %>

    <% unless @list_roles.blank? %>

      <%= c.input :role, collection: @list_roles, as: :radio_buttons,
                  :input_html => {:data => {:required => true}}, label: 'Rôle',
                  :item_wrapper_class => 'inline' %>

    <% end %>

    <div class="form-actions form-actions-padding-sm">
      <div class="row">
        <div class="col-md-10 col-md-offset-5">

          <button class="btn btn-primary" type="submit" id='save'>
            Enregistrer
          </button>

          <%= link_to "Annuler", "#", :id => "new_notes_cancelled", :class => 'btn',
                      :data => {:parent => @parent_div,
                                :resource => @resource.downcase,
                                :id => @resource_id,
                                :roles => @roles} %>

        </div>
      </div>
    </div>

<% end %>
